<div class="max-w-xl p-8 mx-auto mt-12 bg-white rounded shadow">
  <h3><%= t ".title" %></h3>

  <div class="my-8">
    <%= render partial: "subscriptions/summary", locals: { subscription: @subscription } %>
  </div>

  <div class="flex-1 mt-2 mb-4 text-gray-700">
    <div class="mt-4"><%= t(".resume") %></div>
  </div>

  <div class="flex items-center justify-between mt-8">
    <%= link_to t(".back"), subscriptions_path, class: "btn btn-light-gray" %>

    <%= button_to subscription_resume_path(@subscription), method: :patch, class: "btn btn-primary", form: { data: { turbo_confirm: t("are_you_sure") } } do %>
      <%= button_text t(".button"), disable_with: t(".processing") %>
    <% end %>
  </div>
</div>
