<div id="<%= dom_id client %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Mindbody</p>
    <%= client.mindbody_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">First name</p>
    <%= client.first_name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Last name</p>
    <%= client.last_name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Email</p>
    <%= client.email %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Photo</p>
    <%= client.photo %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Gender</p>
    <%= client.gender %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Date of birth</p>
    <%= client.date_of_birth %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Member</p>
    <%= client.member %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Mindbody profile created</p>
    <%= client.mindbody_profile_created %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Mindbody profile updated</p>
    <%= client.mindbody_profile_updated %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Account</p>
    <%= client.account_id %>
  </div>
</div>
