<div class="table-row" id="<%= dom_id client %>">
  <div class="table-cell py-4 pl-4 pr-3 text-sm font-medium text-gray-900 whitespace-nowrap sm:pl-6"><%= client.mindbody_id %></div>
  <div class="table-cell px-3 py-4 text-sm text-gray-500 whitespace-nowrap"><%= client.first_name %></div>
  <div class="table-cell px-3 py-4 text-sm text-gray-500 whitespace-nowrap"><%= client.last_name %></div>
  <div class="table-cell px-3 py-4 text-sm text-gray-500 whitespace-nowrap"><%= client.email %></div>
  <div class="table-cell px-3 py-4 text-sm text-gray-500 whitespace-nowrap"><%= number_to_currency(client_lifetime_value(client)) %></div>
  <div class="table-cell px-3 py-4 text-sm text-gray-500 whitespace-nowrap"><%= client.photo %></div>
  <div class="table-cell px-3 py-4 text-sm text-gray-500 whitespace-nowrap"><%= client.gender %></div>
  <div class="table-cell px-3 py-4 text-sm text-gray-500 whitespace-nowrap"><%= client.date_of_birth %></div>
  <div class="table-cell px-3 py-4 text-sm text-gray-500 whitespace-nowrap"><%= client.member %></div>
  <div class="relative table-cell py-4 pl-3 pr-4 text-sm font-medium text-right whitespace-nowrap sm:pr-6">
    <%= link_to t("edit"), edit_client_path(client), class: "text-indigo-600 hover:text-indigo-900" %>
  </div>
</div>