<% content_for :section_title, "Buttons" %>

<h3>Default</h3>

<div class="space-y-4">
  <%= render "jumpstart/docs/snippet" do %>
    <button class="mr-2 btn btn-primary">Primary</button>
    <button class="mr-2 btn btn-secondary">Secondary</button>
    <button class="mr-2 btn btn-tertiary">Tertiary</button>
    <button class="mr-2 btn btn-danger">Danger</button>
    <button class="mr-2 btn btn-gray">Gray</button>
    <button class="mr-2 btn btn-white">White</button>
    <button class="mr-2 btn btn-link">Link</button>
    <button class="mr-2 btn btn-light-blue">Light Blue</button>
    <button class="mr-2 btn btn-light-green">Light Green</button>
    <button class="mr-2 btn btn-light-red">Light Red</button>
  <% end %>
</div>

<h3>Block</h3>

<div class="space-y-4">
  <%= render "jumpstart/docs/snippet" do %>
    <button class="mr-2 btn btn-block btn-white">
      <%= render_svg "icons/download", styles: "fill-current icon-sm mr-2" %> Primary
    </button>
  <% end %>
</div>

<h3>Outlined</h3>
<div class="space-y-4">
  <%= render "jumpstart/docs/snippet" do %>
    <a href="#" class="mr-2 btn btn-primary btn-outline">Primary</a>
    <a href="#" class="mr-2 btn btn-secondary btn-outline">Secondary</a>
    <a href="#" class="mr-2 btn btn-tertiary btn-outline">Tertiary</a>
    <a href="#" class="mr-2 btn btn-danger btn-outline">Danger</a>
  <% end %>
</div>

<h3>Small</h3>
<div class="space-y-4">
  <%= render "jumpstart/docs/snippet" do %>
    <button class="mr-2 btn btn-small btn-primary">Primary</button>
    <button class="mr-2 btn btn-small btn-secondary">Secondary</button>
    <button class="mr-2 btn btn-small btn-tertiary">Tertiary</button>
    <button class="mr-2 btn btn-small btn-danger">Danger</button>
    <button class="mr-2 btn btn-small btn-gray">Gray</button>
    <button class="mr-2 btn btn-small btn-white">White</button>
    <button class="mr-2 btn btn-small btn-link">Link</button>
  <% end %>
</div>

<h3>Large</h3>
<div class="space-y-4">
  <%= render "jumpstart/docs/snippet" do %>
    <button class="mr-2 btn btn-large btn-primary">Primary</button>
    <button class="mr-2 btn btn-large btn-secondary">Secondary</button>
    <button class="mr-2 btn btn-large btn-tertiary">Tertiary</button>
    <button class="mr-2 btn btn-large btn-danger">Danger</button>
    <button class="mr-2 btn btn-large btn-gray">Gray</button>
    <button class="mr-2 btn btn-large btn-white">White</button>
    <button class="mr-2 btn btn-large btn-link">Link</button>
  <% end %>
</div>

<h3>Default with Icon</h3>
<p>See the <%= link_to "Icons documentation", icons_docs_path %> for rendering SVGs inline.</p>

<div class="not-prose">
  <pre class=""><code>&lt;%= form.button do %&gt;
  &lt;%= render_svg "icons/download", styles: "fill-current icon-sm mr-2", title: "my icon" %&gt;
  Primary
&lt;% end %&gt;
</code></pre>
</div>

<div class="space-y-4">
  <%= render "jumpstart/docs/snippet" do %>
    <button class="mr-2 btn btn-primary">
      <%= render_svg "icons/download", styles: "fill-current icon-sm mr-2" %> Primary
    </button>

    <button class="mr-2 btn btn-secondary">
      <%= render_svg "icons/download", styles: "fill-current icon-sm mr-2" %> Secondary
    </button>

    <button class="mr-2 btn btn-tertiary">
      <%= render_svg "icons/download", styles: "fill-current icon-sm mr-2" %> Tertiary
    </button>

    <button class="mr-2 btn btn-danger">
      <%= render_svg "icons/trash", styles: "fill-current icon-sm mr-2" %> Danger
    </button>

    <button class="mr-2 btn btn-gray">
      <%= render_svg "icons/trash", styles: "fill-current icon-sm mr-2" %> Gray
    </button>

    <button class="mr-2 btn btn-white">
      <%= render_svg "icons/trash", styles: "fill-current icon-sm mr-2" %> White
    </button>

    <button class="mr-2 btn btn-link">
      Link <%= render_svg "icons/arrow-right", styles: "fill-current icon-xs ml-2" %>
    </button>
  <% end %>
</div>

<h3>Disabled</h3>
<div class="space-y-4">
  <%= render "jumpstart/docs/snippet" do %>
    <button class="mr-2 btn btn-primary" disabled><%= button_text "Primary" %></button>
    <button class="mr-2 btn btn-secondary" disabled><%= button_text "Secondary" %></button>
    <button class="mr-2 btn btn-tertiary" disabled><%= button_text "Tertiary" %></button>
    <button class="mr-2 btn btn-danger" disabled><%= button_text "Danger" %></button>
    <button class="mr-2 btn btn-white" disabled><%= button_text "White" %></button>
    <button class="mr-2 btn btn-link" disabled><%= button_text "Link" %></button>
  <% end %>
</div>
